@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-heading">Register</h1>
@using (Html.BeginForm("RegisterIn", "Authentication", FormMethod.Post))
{
    @Html.LabelFor(model => model.Username)
    @Html.TextBoxFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username)

    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)

    @Html.LabelFor(model => model.Password)
    @Html.PasswordFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)

    @Html.LabelFor(model => model.ConfirmPassword)
    @Html.PasswordFor(model => model.ConfirmPassword)
    @Html.ValidationMessageFor(model => model.ConfirmPassword)

    <input type="submit" value="Register" />
}

